.coin-page{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 1rem 2rem;
    gap: 1rem;
}

.coin-display{
    padding: 1rem;
        gap: 1rem;
        border: 1px solid rgb(244, 229, 229);
}

.exchange-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem 2rem;
    gap: 1.5rem;
}

.exchange-display {
    width: 20vh;
            display: flex;
        flex-direction: column;
            justify-content: center;
            align-items: center;
            border: 1px solid rgb(244, 229, 229);
  /*  background-color: rgb(208, 208, 208);*/
    padding: 2.2rem;
}