.navbar{
  font-size: 19px;
    font-family: monospace;
    text-decoration: none;
  background:  linear-gradient(blueViolet
  ,rgb(255, 255, 255));
  width: 100%;
  height: 7rem;
  margin-bottom: 2rem;
  
  display: flex;
  align-items: center;  
  justify-content: space-around;
    box-shadow: 20x 20px 24px #000000,
        -24px -24px 27px #ffffff;
}

.navBtn{
  font-weight: bolder;
 /* background:  linear-gradient(blueViolet
  ,rgb(255, 255, 255));*/
    border: none;
    color: black;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

*/